<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <!-- Консольный аппендер для системных логов -->
        <Console name="ConsoleAppender" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n"/>
        </Console>

        <!-- Файловый аппендер для логов, добавляемых вами -->
        <File name="FileAppender" fileName="logs/app.log" append="true">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n"/>
        </File>
    </Appenders>

    <Loggers>
        <!-- Логгер для вашего класса LinkedInAutomizator, только в файл -->
        <Logger name="test.task.linkedInAuto.LinkedInAutomizator" level="info" additivity="false">
            <AppenderRef ref="FileAppender"/>
        </Logger>

        <!-- Root логгер для системных логов, только в консоль -->
        <Root level="info">
            <AppenderRef ref="ConsoleAppender"/>
        </Root>
    </Loggers>
</Configuration>
